<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 {% include 'navbar.twig' %} 
   <div class="about">
    <div class="description">
      <p> <span> Des produits ONLINE SHOPPING à prix discount ! </span>Proposant les prix les moins chers sur le marché, ONLINE SHOPPING est l’un des leaders de la vente en ligne en Tunisie. Grâce à l’expertise de notre équipe, nous nous engageons à vous proposer les meilleurs produits aux meilleurs prix, tout en assurant une livraison express sur tout le territoire tunisien. Tdiscount met à votre disposition toute une panoplie de produits divers, allant de l’électroménager aux matériels informatiques en passant par les téléviseurs et récepteurs intégrant les dernières technologies et bien d’autres articles fort intéressants qui feront certainement votre bonheur. Faites-vous plaisir avec notre sélection de produits de qualité en promotion, tout en profitant du mode de paiement (facilité de paiement ou achat à crédit) qui vous convient. Que vous vouliez acquérir la dernière tendance en termes de téléphonie mobile IPhone & Samsung ou que vous soyez un amateur de high-tech et cinéphile ou seulement vous souhaitez renouveler vos ustensiles et outils de cuisine ou pourquoi pas remplacer votre cuisinière et votre réfrigérateur, notre équipe de conseillers est à votre disposition dans tous nos points de vente, ainsi que dans notre site. 
      N’hésitez pas à commander en ligne et de profiter de notre service de livraison rapide à domicile.</p>
    </div>
    <div class="about-image">
      <img src="https://tdiscount.tn/modules/ttvcmsadvanceblock/views/img/Livraison-bannier.png"/>
    </div>
  </div>
  {% include 'footer.twig' %} 
  </body>
</html>
